body {
  font-family:  "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}
.jumbotron.index:hover {
  background-color: #e6e6e6;
}
h1.blog {
  font-size: 48px;
}
h4.blog {
  color: #999;
}
.words {
  margin-bottom: 60px;
}
.words p {
  font-size: 18px;
  text-indent: 2em;
}
.blog li {
  padding: 5px 0 5px 20px;
}
.bloglist li {
  padding: 3px 0 3px 20px;
  font-size: 16px;
}
.blog li:hover,.bloglist li:hover {
  background-color: #f9f9f9;
}
.bloglist li.selected {
  border-left: 3px solid #5bc0de;
  padding-left: 17px;
}
.info {
  padding-top: 10px;
}
.comments {
  margin-top: 20px;
}
.comments li {
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
.comments p {
  font-size: 16px;
  margin-top: 10px;
  text-indent: 2em;
}
.comments .time,.num {
  float: right;
  color: #999;
  margin-left: 10px;
}

.foot {
  padding: 40px;
  margin-top: 40px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.fl {
  color: #B7B7B7;
  float: right;
  font-size: 14px;
}
/*田园 87B770 E1EFD8 E61C64*/
